<p id="notice"><%= notice %></p>

<p>
  <strong>Id entidad:</strong>
  <%= @apply.Id_Entidad %>
</p>

<p>
  <strong>Id impuesto:</strong>
  <%= @apply.Id_Impuesto %>
</p>

<%= link_to 'Edit', edit_apply_path(@apply) %> |
<%= link_to 'Back', applies_path %>
